.trips_wrapper{
    background-color: #f9f9f9;
    padding: 80px 13% !important;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding-top: 14px;
}

.cards .card{
    width: 300px;
    height: 400px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1.5px solid rgba(131, 131, 131, 0.5);
    transition: .6s
}

.cards .card:hover{
    border-color: #a8613b;
}

.cards .card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards .card .TripContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    height: 50%;
    padding: 28px;
    padding-top: 15px;
}

.Account , .RecipeDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.rating i{
   color: #a8613b;
}

.Account .acc{
    font-size: 18px;
    font-weight: 600;
    color: #a8613b;
}

.button {
    height: 42px;
    width: 150px;
    border-radius: 30px;
    background: linear-gradient(270deg, #a8613b, #5c2614);
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


@media screen and (max-width:1100px) {
    .cards{grid-template-columns: repeat(2,1fr);}
    .cards .card img{height: 210px;}
    .cards .card{height: 500px;}
}

@media screen and (max-width:768px) {
    .cards{grid-template-columns: repeat(1,1fr);}
    .cards .card img{height: 200px;}
    .cards .card{height: 430px;}
}