.search_wrapper {
    background: url(./.././../assets/search-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 13% !important;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    color: #fff;
  }
  
  .search_wrapper h2 {
    padding-left: 3px;
  }
  
  .search_wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  
  .Cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 60px;
  }
  
  .Cards .card {
    display: flex;
    gap: 25px;
    cursor: pointer; /* Tambahkan cursor pointer untuk menunjukkan bahwa card dapat diklik */
  }
  
  .Cards .card i {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #b58572;
    border-radius: 50%;
    color: #fff;
  }
  
  .Cards .card h3 {
    font-size: 20px;
  }
  
  .Cards .card h3 span {
    display: block;
    font-weight: 300;
    font-size: 17px;
    padding-top: 5px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  }
  
  @media screen and (max-width: 1200px) {
    .Cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 768px) {
    .Cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }