.Nav_wrapper{
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    border: 1px solid #000;
    border-radius: 12px;
    position: fixed;
    top: 50px;
    left: 0;
    left: 5%;
    box-shadow: 0 0 30px rgba(30, 30, 30, 0.18);
    z-index: 999;
    background-color: white;
}

.Nav_wrapper:hover{
    cursor: pointer;
}
.Nav_wrapper .logo a{
    font-size: 28px;
    color: black;
    font-weight: 800; 
    font-family: 'Newsreader';
}

.Nav_wrapper .logo a span{
    color: #b58275;
    font-size: 30px;
    font-family: 'Newsreader';
}

.Nav_wrapper ul li{
    display: inline-block;
    margin: 0 15px;
}

.Nav_wrapper ul li a{
    font-weight: 500;
    color: black;
    transition: 0.5s;
}

.Nav_wrapper ul li a:hover{
    color: #b58275;
}
.nav_btns{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_btns .search_wrapper{
    width: 200px;
    height: 38px;
    display: flex;
    position: relative;
}

.nav_btns .search_wrapper input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 30px;
}

.nav_btns .search_wrapper i{
    position: absolute;
    left: 8px;
    top: 10px;
    cursor: pointer;
}

.nav_btns .LoginBtn{
    display: flex;
    width: 70px;
    gap: 25px;
    color: #b58275;
}

.nav_btns .LoginBtn:hover{
    cursor: pointer;
}

.nav_btns .LoginBtn i{
    color: #b58275;
    font-size: 20px;
}

#bars {
    padding: 15px;
    font-size: 18px;
    color: #b58275;
    background-color: white;
    cursor: pointer;
    transition: .6s;
    display: none;
}

#bars:hover{
    background-color: #b58275;
    color: white;
}

@media screen and (max-width:1100px) {
    #bars{
        display: block;
    }

    .Nav_wrapper ul{
        position: absolute;
        top: 125%;
        left: 0;
        background-color: white;
        transition: .6s;
        width: 0%;
        border-radius: 12px;
        border-color: #000;
        border-width: 0px;
        border-style: solid;
        overflow: hidden;
        
    }

    .Nav_wrapper ul li{
        display: block;
        margin: 15px 0;
        padding: 8px 0;
        padding-left: 8% !important; 
    }
    
    .Nav_wrapper .activeMenu{
        border-width: 1px;
        width: 100%;
    }

@media screen and (max-width:768px) {
    .nav_btns .LoginBtn{
        display: none;
     }
    }

@media screen and (max-width:580px) {
    .nav_btns .search_wrapper {
        display: none;
    }
}
}